@tailwind base;
@tailwind components;
@tailwind utilities;

/* Matikan tombol reveal password bawaan Edge/IE */
input::-ms-reveal,
input::-ms-clear {
  display: none;
}

/* (Opsional) Matikan tombol password manager di beberapa browser */
input[type="password"]::-webkit-credentials-auto-fill-button {
  visibility: hidden;
  display: none !important;
  pointer-events: none;
}
